*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #082127;
    min-height: 100vh;
    width: 100%;
}
.card{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 80px;
    color: #fff;
}

#clock{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
    display: inline-block;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
#am {
    font-size: 16px;
}

#day{
    font-size: 40px;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }